Jonathan Schmidt <uxepd@student.kit.edu> <40245965+RedCommander735@users.noreply.github.com>
Jonathan Schmidt <uxepd@student.kit.edu> uxepd
Jesko Kissner <uueqo@student.kit.edu> <jesko.kissner@mailbox.org>
Jesko Kissner <uueqo@student.kit.edu> SwaggiSpaghetti
Florian Tagscherer <ufukt@student.kit.edu>
Valerie Kind <urnzq@student.kit.edu> <sprudelwasser100@gmail.com>
Fion Gleich <uwing@student.kit.edu>
