#root {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    min-height: 100%;
    height: max-content;
}

/* LIGHT THEME (default) */
:root {
    min-height: 100%;
    height: max-content;
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg: rgb(230, 223, 199);
    --text: #000000;
    --panel: rgb(250, 150, 150);
    --overlay: rgba(0, 0, 0, 0.2);
    --outline: #818181;
    --input-field: rgb(253, 220, 220);
    --dialog-bg: rgba(255, 200, 200);
    background-color: var(--bg);
}

/* DARK THEME */
[data-theme="dark"] {
    --bg: rgb(22, 24, 28);
    --text: #ffffff;
    --panel: rgb(15, 76, 72);
    --overlay: rgba(14, 14, 14, 0.5);
    --outline: #818181;
    --input-field: rgb(15, 76, 72);
    --dialog-bg: #1a2e2d;
    background-color: var(--bg);
    color: var(--text);
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

.inputField {
    background-color: var(--input-field);
}

.loginView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg);
    color: var(--text);
    width: 100%;
}

header {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}

button:hover {
    filter: brightness(1.1);
}

button {
    margin: 20px;
    justify-content: left;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: var(--panel);
    color: var(--text);
    outline: var(--outline);
    outline-width: 10px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.dialogOverlay {
    background: var(--overlay);
    color: var(--text);
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.dialog {
    background: var(--dialog-bg);
    color: var(--text);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vmin;
    gap: 8px;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50vmin;
    gap: 12px;
}

.settingsBackground {
    border-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.checkboxRow {
    display: flex;
    align-items: center;
    gap: 8px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.confirm-cancel-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-top: 5em;
    width: 15vmin;
    filter: drop-shadow(0 0 2em var(--panel));
}

.settingsButton {
    float: right;
    position: fixed;
    top: 1%;
    right: 0.5%;
}

.listViewTitleHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: var(--panel);
    border-radius: 10px;
    width: fit-content;
    padding-left: 10px;
    margin: 2px;

    max-width: fit-content;
}

.listViewTitleHeader button {
    margin: 5px;
    padding: 4px 8px; /* Smaller padding for buttons */
    outline-width: 2px; /* Reduce the outline so it stays inside the box */
}

.listViewEntry button {
    margin: 5px;
    padding: 4px 8px; /* Smaller padding for buttons */
    outline-width: 2px; /* Reduce the outline so it stays inside the box */
}

.listViewEntry {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    max-width: fit-content;
    background-color: var(--dialog-bg);
    text-align: left;
    margin: 2px;

    /*grid formatting*/
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    gap: 4px;
}

.listViewEntryWrapper {
    /*The indent that each layer of the tree gets*/
    padding-left: 50px;
    flex-direction: row;
}

.passwordView {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh
}

.borderBox {
    border: 4px solid var(--panel);
    border-right: 0;

}

.entryViewEntry {
    font-size: 2em;
    padding: 50px 50px 0 50px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(40%, auto) 1fr;
    flex-direction: column;
    background-color: var(--dialog-bg);
    text-align: left;
    gap: 10px 20px;
    box-sizing: border-box; /* Ensures padding doesn't break the 100% width */

    word-break: break-all;
    white-space: normal;
}


.entryViewEntry span:nth-child(odd) {
    font-weight: bold;
    color: var(--text);
}

.scrollableContainer {
    overflow: auto;
    scrollbar-color: var(--panel) var(--bg);
    scrollbar-width: thin;
}

.closeButton {
    float: left;
    position: fixed;
    top: 1%;
    left: 0.5%;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
.floatingToast {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--panel);
    color: var(--text);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 200;
    font-size: 1.5rem;
}

.loadingOverlay {
    background: color-mix(in srgb, transparent, black 90%);
    color: white;
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.loadingSpinner {
    width: 100px;
    aspect-ratio: 1;
    fill: white;
    animation: 3s linear infinite spinner-rotation;
    z-index: 102;
}

.loadingText {
    width: 77.75px;
    text-align: start;
    z-index: 102;

    &::after {
        /* Ellipsis Character */
        content: "";
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: steps(3, end) 1500ms infinite ellipsis;
    }
}

@keyframes ellipsis {
    0% {
        content: "";
    }
    25% {
        content: ".";
    }
    50% {
        content: "..";
    }
    75% {
        content: "...";
    }
    75% {
        content: "...";
    }
}


@keyframes spinner-rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.passwordGen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: start;
    grid-row-gap: 1.5%;
}

.passwordGenButton {
    width: 32px;
    height: 32px;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    line-height: 1;
    cursor: pointer;

    margin-bottom: 0;
}
